# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Compiled Bins.
a.out

# Latex
*.log
*.aux
*.nav
*.out
*.snm
*.toc

# Backup files
*~
.*.sw*
.backups
.backup

# svn
.svn

# autotools
*.in
Makefile
*.m4
*.cache/
build-aux/depcomp
build-aux/install-sh
build-aux/missing
stamp-h1
cabrio.spec
config.status
configure
packages/debian/control
src/.deps/
src/config.h

