Source: cabrio
Section: otherosfs
Priority: optional
Maintainer: Steve Maddison <steve@cabrio-fe.org>
Build-Depends: debhelper (>= 9), libsdl2-dev, libsdl2-image-dev, libsdl2-gfx-dev, libsdl2-mixer-dev, libsdl2-ttf-dev, libxml2-dev
# libavcodec-dev, libavutil-dev, libavformat-dev, libswscale-dev
Standards-Version: 3.9.6
Homepage: http://www.cabrio-fe.org

Package: cabrio
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, fonts-freefont-ttf | ttf-freefont
Description: Front end for video game emulators
 Cabrio is a graphical front end for video game emulators originally designed
 for use on arcade cabinets, but also usable on your regular computer.
 .
 It features a simple graphical interface which is easy to use with limited
 controls (e.g. a joystick).
