#!/usr/bin/make -f

export DEB_CXXFLAGS_MAINT_STRIP=-g -O2
export DEB_CFLAGS_MAINT_STRIP=-g -O2

%:
	dh $@ --parallel

override_dh_auto_build:
	# Build with libav 9.18, you have to download it, see https://github.com/fredbcode/cabrio/pull/13
	dh_auto_build -- BUNDLED_LIBAV=1

override_dh_auto_install:
	# Add here commands to install the package into debian/cabrio.
	dh_auto_install -- DESTDIR=$(CURDIR)/debian/cabrio \
		BIN_DIR=$(CURDIR)/debian/cabrio/usr/bin \
		DATA_DIR=$(CURDIR)/debian/cabrio/usr/share/cabrio \
		install
	#$(MAKE) -C builddir DESTDIR=$(CURDIR)/debian/cabrio install
	rm $(CURDIR)/debian/cabrio/usr/share/cabrio/fonts/FreeSans.ttf
